<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Welcome to Codechat</title>
    </head>

    <body>
        <div th:if="${admin != null and user != null}">
            <span th:text="'You are now about to change a password of '">Warning message</span>
            <a href="#" th:if="${user.id != null}" th:href="@{~/persons/{id}(id=${user.id})}" th:text="${user.username}">User username</a>
            <form action="#" th:action="@{~/admin/persons/{id}/newpassword(id=${user.id})}" method="POST">
                <div><label>New password<input type="password" name="newPassword" autocomplete="off"/></label></div>
                <div><label><button type="submit">Change user's password</button></label></div>
                <div><label><button type="submit">Do not make any changes</button></label></div>
            </form>
        </div>
    </body>
</html>