<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>Sign up to the site using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <div><label>Username<input type="text" name="username" id="username"/></label></div>
            <div><label>Password<input type="text" name="password" id="password"/></label></div>
            <div><label><button type="submit">Create user account</button></label></div>
        </form>

        <p></p>
    </body>
</html>
