<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Codechat forum page</title>
    </head>
    <body>
        <h1 th:if="${forum != null}" th:text="${forum.name}">Forum name</h1>
        <div th:if="${forum != null}">
            <div th:if="${forum.messages != null}">
                <ul>
                    <li th:each="message : ${forum.messages}">
                        <span th:if="${message.timeString != null}" th:text="${message.timeString}">Message timestamp</span>
                        <span th:if="${message.person.username != null}" th:text="${message.person.username}">Message sender</span>
                        <span th:if="${message.text != null}" th:text="${message.text}">Message text</span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
