<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login form</title>
    </head>
    <body>

        <h1>Please check your username and password</h1>

        <form action="#" th:action="@{/login}" method="POST">
            <div><label>Username<input type="text" name="username" id="username"/></label></div>
            <div><label>Password<input type="text" name="password" id="password"/></label></div>
            <div><label><button type="submit">Login to the site</button></label></div>
        </form>

        <p></p>
    </body>
</html>
