<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Welcome to Codechat</title>
    </head>

    <body>
        <div th:if="${loggedInUser != null}">
            <div th:if="${loggedInMessage != null}" th:text="${loggedInMessage}"></div>
            <div th:if="${email != null and not email.isEmpty()}" th:text="${email}">Email</div>
            <br/>

            <div th:if="${friends != null}">
                <h1>My friends</h1>
                <ul>
                    <li th:each="friend : ${friends}">
                        <a href="#" th:if="${friend.id != null}" th:href="@{~/persons/{id}(id=${friend.id})}" th:text="${friend.username}">Friend username</a>
                    </li>
                </ul>
                <span th:if="${friends == null or friends.isEmpty()}" th:text="'You don\'t have any friends in Codechat yet! Please send some friend requests :)'"></span>
            </div>
            <br/>

            <div th:if="${friendrequests != null and not friendrequests.isEmpty()}">
                <h1>Received friend requests</h1>
                <ul>
                    <li th:each="friendrequest : ${friendrequests}">
                        <div th:if="${friendrequest != null and friendrequest.id != null}">
                            <a href="#" th:href="@{~/friendrequests/{id}(id=${friendrequest.id})}" th:text="${friendrequest.personFrom.username}">Friend request from</a>
                            <a href="#" th:href="@{~/friendrequests/{id}(id=${friendrequest.id})}" th:text="${friendrequest.message}">Friend request message</a>
                            <form action="#" th:action="@{~/friendrequests/{id}/accept(id=${friendrequest.id})}" method="POST">
                                <label><button type="submit">Accept</button></label>
                            </form>
                            <form action="#" th:action="@{~/friendrequests/{id}/delete(id=${friendrequest.id})}" method="POST">
                                <label><button type="submit">Delete request</button></label>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>

            <div th:if="${friend != null and friend.username != null and not friend.username.isEmpty()}">
                <h1>Friend page (confidential, for friends only) :)</h1>
                <span>Name of friend: </span>
                <span th:text="${friend.username}">Username of friend</span>
                <br/>
                <span th:if="${friend.myFriends != null and not friend.myFriends.isEmpty()}">Friends of </span>
                <span th:if="${friend.myFriends != null and not friend.myFriends.isEmpty()}" th:text="${friend.username}">Friends of friend</span>
                <ul th:if="${friend.myFriends != null and not friend.myFriends.isEmpty()}">
                    <li th:each="friendOfFriend : ${friend.myFriends}">
                        <a href="#" th:if="${friendOfFriend.id != null}" th:href="@{~/persons/{id}(id=${friendOfFriend.id})}" th:text="${friendOfFriend.username}">Friend of friend username</a>
                    </li>
                </ul>
                <span th:if="${friend.myFriends == null or friend.myFriends.isEmpty()}" th:text="${friend.username}"></span>
                <span th:if="${friend.myFriends == null or friend.myFriends.isEmpty()}" th:text="' does not have any friends in Codechat yet! :('"></span>
            </div>

            <h1>Send a friend request using this form</h1>

            <form action="#" th:action="@{/friendrequests}" method="POST">
                <div><label>Friend's username<input type="text" name="personTo" autocomplete="off"/></label></div>
                <div><label>Message for friend request<input type="text" name="message" autocomplete="off"/></label></div>
                <div><label><button type="submit">Send a friend request</button></label></div>
            </form>
            <br/>

            <div th:if="${forums != null}">
                <h1>My forums</h1>
                <ul>
                    <li th:each="forum : ${forums}">
                        <a href="#" th:if="${forum.id != null}" th:href="@{~/forums/{id}(id=${forum.id})}" th:text="${forum.name}">Forum name</a>
                        <ul>
                            <li th:if="${forum.topic != null}" th:text="${forum.topic}">Forum topic</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br/>
            <h1>Create a new forum using this form</h1>

            <form action="#" th:action="@{/forums}" method="POST">
                <div><label>Forum name<input type="text" name="name" autocomplete="off"/></label></div>
                <div><label>Forum topic<input type="text" name="topic" autocomplete="off"/></label></div>
                <div><label><button type="submit">Create forum</button></label></div>
            </form>
            <br/>

            <div>
                <form action="#" th:action="@{/logout}" method="POST">
                    <div><label><button type="submit">Logout</button></label></div>
                </form>
            </div>
        </div>

        <div th:if="${loggedInUser == null}">
            <h1>Login to the site using this form</h1>

            <form action="#" th:action="@{/login}" method="POST">
                <div><label>Username<input type="text" name="username" id="username" autocomplete="off"/></label></div>
                <div><label>Password<input type="password" name="password" id="password" autocomplete="off"/></label></div>
                <div><label><button type="submit">Login to the site</button></label></div>
            </form>
        </div>

        <div th:if="${loggedInUser == null}">
            <h1>Create a new user account using this form</h1>

            <form action="#" th:action="@{/main}" th:object="${person}" method="POST">
                <div><label>Username<input type="text" th:field="*{username}" name="username" autocomplete="off"/></label></div>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error message</span>
                <div><label>Password<input type="password" th:field="*{password}" name="password" autocomplete="off"/></label></div>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error message</span>
                <div><label>Email (optional)<input type="email" th:field="*{email}" name="email" autocomplete="off"/></label></div>
                <div>Your email will be not be shared with anyone.</div>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Password error message</span>
                <div><label><button type="submit">Create user account</button></label></div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script type="text/javascript">
            function getData(identifier) {
                return document.getElementById(identifier).value;
            }

            function loginformOk()
            {
                var username = getData("username");
                var password = getData("password");

                if (username) {
                    if (password) {
                        // OK.
                        return true;
                    }
                }

                var errorTextElement = document.getElementById("errortextelement");
                var oldErrorTextSection = errorTextElement.children[0];
                var errorTextParagraph = document.createElement("p");
                var errorTextContent = document.createTextNode("The following errors were found while logging in:");
                errorTextParagraph.appendChild(errorTextContent);
                errorTextElement.replaceChild(errorTextParagraph, oldErrorTextSection);

                var errorListElement = document.getElementById("errorlistelement");
                var oldErrorList = errorListElement.children[0];
                var errorList = document.createElement("ul");

                var areThereErrorsInUsername = 0;

                if (!username)
                {
                    var usernameErrorElement = document.createElement("li");
                    var usernameErrorText = document.createTextNode("Username must be given.");
                    usernameErrorElement.appendChild(usernameErrorText);
                    errorList.appendChild(usernameErrorElement);

                    areThereErrorsInUsername = 1;
                    document.getElementById("username").focus();
                }

                if (!password)
                {
                    var passwordErrorElement = document.createElement("li");
                    var passwordErrorText = document.createTextNode("Password must be given.");
                    passwordErrorElement.appendChild(passwordErrorText);
                    errorList.appendChild(passwordErrorElement);

                    if (areThereErrorsInUsername === 0) {
                        document.getElementById("password").focus();
                    }
                }
                errorListElement.replaceChild(errorList, oldErrorList);

                return false;
            }
        </script>
    </body>
</html>
